numpy==1.18.5
tqdm==4.46.1
tensorflow==2.2.0
selenium==3.141.0
pandas==1.0.4
bert_for_tf2==0.14.4
beautifulsoup4==4.9.1
bert==2.2.0
langdetect==1.0.8
nltk==3.4.5
requests==2.24.0
networkx==2.4
seaborn==0.10.1
lxml==4.5.1
requests_html==0.10.0
matplotlib==3.3.0
scipy==1.4.1
bert==2.2.0
scikit_learn==0.23.2

